/* Design för "starta spelet knappen" */
.meny { 
font-size: 250%;
text-align: center;
list-style-type: none;
margin-top: 10vh;
color:white;
margin-left: auto;
margin-right: auto;
width: 300px;
padding: 3vh;
margin-bottom: 35vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;

left: 50%;
transform: translate(-50%, -50%); 
font-family: 'Maven Pro', sans-serif;
}

/* design för bottenboxen */
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #FFA595;
height: 10vh;
border:solid 1vh; 
border-color: #4B7C9C;
border-bottom: none;
border-left: none;
text-align: center;  
}

.omspelet{
  position: fixed;
  left: 0;
  Margin-top:5vh;
  width: 100%;
  background-color: #FFA595;
  height: 10vh;
  text-align: center; 
  color: white;
  Font-size:3.2vh;
  font-family: 'Mitr', sans-serif;
}
  .spelettext{
    margin-top: 17vh;
    text-align: justify;
    opacity: 0.8;
    margin-right:3vh;
    margin-left:3vh;
    font-family: 'Didact Gothic', sans-serif;
  }

  .beskrivning{
    font-size:20%;
    font-family: 'Didact Gothic', sans-serif;
  }

  .policytext{
    margin-top: 16vh;
    text-align: justify;
    opacity: 0.8;
    margin-right:3vh;
    margin-left:3vh;
    font-family: 'Didact Gothic', sans-serif;
    
  }



.policy{
  position: fixed;
  left: 0;
  Margin-top:2vh;
  width: 100%;
  background-color: #FFA595;
  height: 10vh;
  text-align: center; 
  color: white;
  Font-size:3.2vh;
  font-family: 'Mitr', sans-serif;
}
  
/* Bildens startsida*/
.image{
width: 40vh;
margin-top:-6vh;
margin-bottom: 14vh;
display: block;
margin-left: auto;
margin-right: auto;   
}

/* Design för tillbaka knappen på samtliga sidor */
.back{
position: fixed;
background-color:rgb(255, 255, 255);
border: 1px solid rgb(255, 255, 255);
color:#FFA595 ;
font-size: 3vh;
}

/* design för Kontakt knappen */
.Inställningar{
float: left;
font-size:3vh;
margin-left:5%;
margin-top:1.2vh;
color: white;
background: none;
border:none;
font-family: 'Maven Pro', sans-serif;
}

/* design för om oss knappen */
.omoss{
float: right;
font-size:3vh;
margin-right:5%;
margin-top:0.9vh;
color: white;
background: none;
border:none;
font-family: 'Maven Pro', sans-serif;
}

.far{
  font-size: 3.2vh;
}

/* Familj knappen på valsidan och val av kort sidan*/
.familj{
font-size: 60px;
text-align: center;
list-style-type: none;
margin-bottom: 10vh;
color:white;
height: 30vh;
width: 280px;
padding: 1vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;
top: 37%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;

}
/* vänner knappen på valsidan och val av kort sidan*/
.vänner{
  font-size: 60px;
text-align: center;
list-style-type: none;
margin-top: 20vh;
color:white;
height: 30vh;
width: 280px;
padding: 1vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;
}
/* 50 kort knappen */
.kortfamilj50{
font-size: 80%;
text-align: center;
list-style-type: none;
margin-top: 27vh;
color:white;
width: 220px;
height:40vh;
background-color:#E87B7B;
border-radius:10px; 
float: none;
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;
}

.count{
  width: 250px;
height:50vh;
}

/* det stora kortet på spelsidan */
.headline{

text-align: center;
list-style-type: none;
margin-top: 12vh;
border-style:solid;
border-color: #4B7C9C;
font-family: 'Mitr', sans-serif;
width: 250px;
height:60vh;
color:#E87B7B ;
b
font-size: 3vh;
border-radius:1vh; 
float: none;
position: absolute;
top: 33%;
left: 50%;
transform: translate(-50%, -50%);
}
/* Stänga av ljudet knappen*/
.mute {
border-style: solid;
border-color: #FFA595;
background: #FFA595;
color: white;
border-radius: 1vh;
outline: none;
cursor: pointer;
width:16%;
height: 30px;
font-size:10px;
}
/* Sätta på ljudet knappen*/
.sound{
border-style: solid;
border-color: #FFA595;
background: #FFA595;
color: white;
border-radius: 1vh;
outline: none;
cursor: pointer;
width:16%;
height: 30px;
font-size:10px;
}



/* Design till boxen som håller ihop ljudknapparna*/
.ljudbox{
  margin-top: 0.2vh;
  margin-left:auto;
  margin-right:auto; 
  text-align: center;
  float: none;
}

.gps {
  border-style: solid;
  border-color: #FFA595;
  background: rgb(255, 255, 255);
  color:#FFA595;
  border-radius: 1vh;
  font-family: 'Maven Pro', sans-serif;
  width:230px;
  height: 50px;
  font-size:13px;
  border-width: 5px;
  }


  .gpsposition{
    margin-top: 71vh;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
  }

  .räknare{
    float: right;
    margin-top:-4vh;
    color:#FFA595;
    text-align: center;
    font-size:3vh;
    font-family: 'Didact Gothic', sans-serif;

    
   
  }


  

  .avsluta{
    float: left;
    color:#FFA595;
    list-style-type: none;
    font-size:2.5vh;
    border: none;
    background: white;
    
  }

  #dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
  }
  #dialogbox{
    display: none;
    position: fixed;
    background: #FFA595;
    border-radius:7px; 
    height: 100;
    width: 300px;
    z-index: 10;
    float: none;
    text-align: center;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mitr', sans-serif;
 

  }
  #dialogbox > div{ background:#FFF; margin:8px; }
  #dialogbox > div > #dialogboxhead{  font-family: 'Didact Gothic', sans-serif;background: #FFA595; font-size:13px; padding:10px; color:rgb(255, 255, 255); }
  #dialogbox > div > #dialogboxbody{ background:#FFA595; padding:20px; color:#FFF; }
  #dialogbox > div > #dialogboxfoot{ background: #FFA595;  margin-bottom: }
  #dialogbox > div > #dialogboxend{  background: #FFA595;  color: #FFA595 }



  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  font-family: 'Didact Gothic', sans-serif;
  padding: 15px; /* Some padding */  
  border: 1px solid #FFA595; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  
}

/* When moving the mouse over the submit button, add a darker green color */


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
 border-color:#FFA595;
  color: tomato;
  padding: 20px;
  width: 80%;
  height: 70vh;
  margin-left:auto; 
  margin-right:auto; 
  margin-top:10px;
  font-family: 'Didact Gothic', sans-serif;
}

.skicka{
  background: #FFA595;
  color: white;
  border:none;
  border-radius:1vh;
  width: 10vh;
  height: 4vh;
  font-family: 'Maven Pro', sans-serif;
  font-size:2vh

  
}

.rubrikkontakt{
font-size: 5vh;
text-align: center;
color: tomato;
font-family: 'Mitr', sans-serif;
}

.infocontact{
  font-size: 2vh;
  text-align: center;
  color: tomato;
  border-bottom: 1px solid tomato;
  opacity: 0.7;
  font-family: 'Didact Gothic', sans-serif;
}

.ja{
  color: #ffffff;

  border-color: white;
  background: #FFA595;
  border:solid 1px;
  width:50%;
  height:5vh;
  float: left;
  font-family: 'Maven Pro', sans-serif;
  font-size:2vh
}

.nej{
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  border-color: white;
  background: #FFA595;
  border:solid 1px;
  height:5vh;
  width:50%;
  float:right;
  margin-bottom: 1vh;
  font-size:2vh;

}



#bild {
 

  background: red;
  position: relative;
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -230px;}
  to {top: 1px; }
}

@keyframes mymove {
  from {top: -230px;}
  to {top: 1px; }
}


#demo{
 
  position: relative;
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -230px;}
  to {top: 20px; }
}

@keyframes mymove {
  from {top: -230px;}
  to {top: 70px; }
}


#rubrikslide{
 
  position: relative;
  -webkit-animation: mymoves 1s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymoves 1s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoves {
  from {top: -230px;}
  to {top: -4px; }
}

@keyframes mymoves {
  from {top: -230px;}
  to {top: -4px; }
}


#arrowslide{
 
  position: relative;
  -webkit-animation: arrow 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: arrow 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrow {
  from {top: -230px;}
  to {top: 3px; }
}

@keyframes arrow {
  from {top: -230px;}
  to {top: 3px; }
}









.rubriker{
  text-align: center;
  font-size: 5vh;
  color: #FFA595;
  font-family: 'Mitr', sans-serif;
 
}





