/* Design för "starta spelet knappen" */
.meny { 
font-size: 250%;
text-align: center;
list-style-type: none;
margin-top: 10vh;
color:white;
margin-left: auto;
margin-right: auto;
width: 300px;
padding: 3vh;
margin-bottom: 35vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;
left: 50%;
transform: translate(-50%, -50%); 
font-family: 'Maven Pro', sans-serif;
}
/* design för bottenboxen */
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #FFA595;
height: 10vh;
border:solid 1vh; 
border-color: #4B7C9C;

border-left: none;
text-align: center;  
}
/*omspelet border*/
.omspelet{
  position: absolute;
  left: 0;
  Margin-top:5vh;
  width: 100%;
  background-color: #FFA595;
  height: 10vh;
  text-align: center; 
  color: white;
  Font-size:3.2vh;
  font-family: 'Mitr', sans-serif;
}
/*info speltext*/
  .spelettext{
    margin-top: 17vh;
    text-align: justify;
    opacity: 0.8;
    margin-right:3vh;
    margin-left:3vh;
    font-family: 'Didact Gothic', sans-serif;
  }
/*snabb förklaring av spelet (fega typen)*/
  .beskrivning{
    font-size:20%;
    font-family: 'Didact Gothic', sans-serif;
  }
/*text om policy*/
  .policytext{
    margin-top: 16vh;
    text-align: justify;
    opacity: 0.8;
    margin-right:3vh;
    margin-left:3vh;
    font-family: 'Didact Gothic', sans-serif; 
  }
  /*Border policy*/
.policy{
  position: absolute;
  left: 0;
  Margin-top:2vh;
  width: 100%;
  background-color: #FFA595;
  height: 10vh;
  text-align: center; 
  color: white;
  Font-size:3.2vh;
  font-family: 'Mitr', sans-serif;
}
  
/* Bildens startsida*/
.image{
width: 40vh;
margin-top:-6vh;
margin-bottom: 14vh;
display: block;
margin-left: auto;
margin-right: auto;   
}

/* Design för tillbaka knappen på samtliga sidor */
.back{
position: fixed;
background-color:rgb(255, 255, 255);
border: 1px solid rgb(255, 255, 255);
color:#E87B7B ;
font-size: 3vh;
font-family: 'Maven Pro', sans-serif;
}

/* design för Kontakt knappen */
.Inställningar{
float: left;
font-size:3vh;
margin-left:5%;
margin-top:1.2vh;
color: white;
background: none;
border:none;
font-family: 'Maven Pro', sans-serif;
}

/* design för om oss knappen */
.omoss{
float: right;
font-size:3vh;
margin-right:5%;
margin-top:0.6vh;
color: white;
background: none;
border:none;
font-family: 'Maven Pro', sans-serif;
}
/* design för om oss knappen ljud av och på*/


/* Familj knappen på valsidan och val av kort sidan*/
.familj{
font-size: 60px;
text-align: center;
list-style-type: none;
margin-bottom: 10vh;
color:white;
height: 30vh;
width: 280px;
padding: 1vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;
top: 37%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;

}
/* vänner knappen på valsidan och val av kort sidan*/
.vänner{
  font-size: 60px;
text-align: center;
list-style-type: none;
margin-top: 20vh;
color:white;
height: 30vh;
width: 280px;
padding: 1vh;
background-color:#E87B7B;
border-radius:1vh; 
border:1vh;
border-style:solid;
border-color: #4B7C9C;
float: none;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;
}
/* 50 kort knappen */
.kortfamilj50{
font-size: 2.5vh;
text-align: center;
list-style-type: none;
margin-top: 27vh;
color:white;
width: 220px;
height:40vh;
background-color:#E87B7B;
border-radius:10px; 
float: none;
position: absolute;
top: 19%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Maven Pro', sans-serif;
}

/* det stora kortet på spelsidan */
.headline{
text-align: center;
list-style-type: none;
margin-top: 12vh;
border:solid 1vh;
border-color: #4B7C9C;
font-family: 'Mitr', sans-serif;
width: 250px;
height:60vh;
color:#E87B7B ;
font-size: 3vh;
border-radius:1vh; 
float: none;
position: absolute;
top: 33%;
left: 50%;
transform: translate(-50%, -50%);
}
/* Stänga av ljudet knappen*/
.mute {
border-style: solid;
border-color: #FFA595;
background: #FFA595;
color: white;
border-radius: 1vh;
outline: none;
cursor: pointer;
width:16%;
height: 32px;


}
/* Sätta på ljudet knappen*/
.sound{
border-style: solid;
border-color: #FFA595;
background: #FFA595;
color: white;
border-radius: 1vh;
outline: none;
cursor: pointer;
width:16%;
height: 32px;


}
/*ser till att ljudikorna sitter bättre till*/
.fas{
  font-size: 3.2vh;
}


/* Design till boxen som håller ihop ljudknapparna*/
.ljudbox{
  margin-top: 0.1vh;
  margin-left:auto;
  margin-right:auto; 
  text-align: center;
  float: none;
}
/*Gpsen*/
.gps {
  border-style: solid;
  border-color: #FFA595;
  background: rgb(255, 255, 255);
  color:#FFA595;
  border-radius: 1vh;
  font-family: 'Maven Pro', sans-serif;
  width:270px;
  height: 50px;
  font-size:15px;
  border-width: 5px;
  }

/*Gpsen*/
  .gpsposition{
    margin-top: 75vh;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
  }

  /*desiegn för siffran i räknaren*/
  .räknare{
    float: right;
    width: 4%;
    color:#FFA595;
    font-family: 'Mitr', sans-serif;
    font-size: 2.5vh;
  }
/*desiegn för ordet i räknaren*/
  .räknareord{
    float: right;
    width: 10%;
    color:#FFA595;
    font-family: 'Mitr', sans-serif;
    font-size: 2.5vh;
  }
/*desiegn för hela boxen*/
  .räknebox{
    content: "";
    clear: both;
    display: table;
  }
/*Avsluta knappen på spelsidan*/
  .avsluta{
    float: left;
    color:#FFA595;
    list-style-type: none;
    font-size:2.5vh;
    border: none;
    margin-top:2vh;
    background: white;
    font-family: 'Mitr', sans-serif;
  }
/*Overlay vid avsluta modulen*/
  #dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
  }
  /*Avsluta modulen*/
  #dialogbox{
    display: none;
    position: fixed;
    background: #FFA595;
    border-radius:7px; 
    height: 100;
    width: 300px;
    z-index: 10;
    float: none;
    text-align: center;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mitr', sans-serif;
 
/*Avsluta individuella sektioner*/
  }
  #dialogbox > div{ background:#FFF; margin:8px; }
  #dialogbox > div > #dialogboxhead{  font-family: 'Didact Gothic', sans-serif;background: #FFA595; font-size:13px; padding:10px; color:rgb(255, 255, 255); }
  #dialogbox > div > #dialogboxbody{ background:#FFA595; padding:20px; color:#FFF; }
  #dialogbox > div > #dialogboxfoot{ background: #FFA595;  margin-bottom: }
  #dialogbox > div > #dialogboxend{  background: #FFA595;  color: #FFA595 }

  /*Textrutan på skicka sidan*/
input[type=text], select, textarea {
  width: 100%; 
  font-family: 'Didact Gothic', sans-serif;
  padding: 15px;  
  border: 1px solid #FFA595; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
  
}
  /*Formuläret kontakt*/
.container {
  border-radius: 5px;
 border-color:#FFA595;
  color: tomato;
  padding: 20px;
  width: 80%;
  height: 70vh;
  margin-left:auto; 
  margin-right:auto; 
  margin-top:10px;
  font-family: 'Didact Gothic', sans-serif;
}
  /*Skicka knappen kontakt*/
.skicka{
  background: #FFA595;
  color: white;
  border:none;
  border-radius:1vh;
  width: 10vh;
  height: 4vh;
  font-family: 'Maven Pro', sans-serif;
  font-size:2vh
}
/*rubrik kontakt*/
.rubrikkontakt{
font-size: 5vh;
text-align: center;
color: tomato;
font-family: 'Mitr', sans-serif;
}
  /*info kontakt*/
.infocontact{
  font-size: 2vh;
  text-align: center;
  color: tomato;
  border-bottom: 1px solid tomato;
  opacity: 0.7;
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 18vh;
}
  /*Ja knapp om du vill avsluta spelet*/
.ja{
  color: #ffffff;

  border-color: white;
  background: #FFA595;
  border:solid 1px;
  width:50%;
  height:5vh;
  float: left;
  font-family: 'Maven Pro', sans-serif;
  font-size:2vh
}
  /*Nej knapp om du vill avsluta spelet*/
.nej{
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  border-color: white;
  background: #FFA595;
  border:solid 1px;
  height:5vh;
  width:50%;
  float:right;
  margin-bottom: 1vh;
  font-size:2vh;
}


  /*animation på loggan*/
#bild {
  background: red;
  position: relative;
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -230px;}
  to {top: 1px; }
}
@keyframes mymove {
  from {top: -230px;}
  to {top: 1px; }
}

/*animation på på spela knappen*/
#demo{
 
  position: relative;
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -230px;}
  to {top: 20px; }
}

@keyframes mymove {
  from {top: -230px;}
  to {top: 70px; }
}

/*animation på på rubrikeerna*/
#rubrikslide{
 
  position: relative;
  -webkit-animation: mymoves 1s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymoves 1s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoves {
  from {top: -230px;}
  to {top: -4px; }
}

@keyframes mymoves {
  from {top: -230px;}
  to {top: -4px; }
}

/*Rubriker på val sidorna*/
.rubriker{
  text-align: center;
  font-size: 5vh;
  color: #FFA595;
  font-family: 'Mitr', sans-serif;
 
}





